<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.remindlearning.mapper.RemindedPersonMapper">

    <resultMap id="baseResultMap" type="com.example.remindlearning.entity.RemindedPerson">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="remindText" column="remind_text" jdbcType="VARCHAR"/>
            <result property="reminder" column="reminder" jdbcType="VARCHAR"/>
            <result property="count" column="count" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="isDisabled" column="is_disabled" jdbcType="BIT"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="base_column_list">
        id,email,remind_text,
        reminder,count,name,
        is_disabled,status
    </sql>
</mapper>
